node_modules
**/node_modules
dist
**/dist
.env
**/.env
.env.*
!**/.env.example
.git
.gitignore
.github
*.log
.DS_Store
Thumbs.db
coverage
frontend/dist
backend/dist
docker-compose.yml
docker-compose.prod.yml
*.tsbuildinfo
**/*.tsbuildinfo
